<h1>All Subs for <%= @user.name %></h1>

<ul>
  <%  @user.subs.each do |sub| %>
    <li>
      <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
      <br>
      <p><%= sub.description %></p>>
    </li>
  <% end %>
</ul>